.link {
    text-decoration: none;
    color: #ddd6cb;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.link:hover,
.link:active {
    background: linear-gradient(90deg, var(--h1-txt-color1),var(--h1-txt-color2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px var(--txt-shadow-link);
}


.active {
    background: linear-gradient(90deg,  var(--a-active-color1),var(--a-active-color2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
